
week_*_solution.tex

*.aux

*.bbl

*.bcf

*.blg

*.fdb_latexmk

*.fls

week_*.log

week_*.out

week_*.pdf

*.xml

*.gz

*.toc

exam/template_exam_solution.log

exam/template_exam_solution.pdf

literature/

stuff/

class/
